.PageHeader {
  background-color: #ffffff;
  color: #191D32;
  padding: 15rem 0;
  font-family: 'Amatic SC', cursive;
}

.PageHeader-large {
  padding: 20rem 0;
}

.PageHeader--Title {
  font-size: 7rem;
  margin-bottom: 0;
}

.PageHeader--Subtitle {
  font-weight: 400;
  font-size: 5rem;
}

@media screen and (max-width: 900px) {
  .PageHeader {
    padding: 15rem 0 10rem 0;
  }
  .PageHeader--Title {
    text-align: center;
  }
  .PageHeader--Subtitle {
    text-align: center;
  }
 }

@media screen and (max-width: 750px) {
  .PageHeader {
    padding: 15rem 0 8rem 0;
  }
  .PageHeader--Title {
    margin-top: -75px;
  }
  .PageHeader--Subtitle {
    font-size: 4rem;
  }
 }

@media screen and (max-width: 450px) {
  .PageHeader {
    padding: 15rem 0 5rem 0;
  }
  .PageHeader--Subtitle {
    font-size: 3rem;
  }
 }

 @media screen and (max-width: 383px) {
  .PageHeader {
    padding: 18rem 0 4rem 0;
  }
  .PageHeader--Title {
    font-size: 6rem;
    margin-bottom: 0;
  }
  .PageHeader--Subtitle {
    font-size: 3rem;
  }
 }